<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>2025 HSS APS</title>

    @await Html.PartialAsync("~/Pages/Partial/_ScriptCss.cshtml")
</head>
<body>
    @RenderBody()
</body>
</html>