@page
@model HS.Web.Pages.example_003
@{
    string CLIENT = Model.Params["CLIENT"].AsString();
    string R = Model.Params["R"].AsString();
    string W = Model.Params["W"].AsString();
}


<script>

    $hs.handler = {
        "txtSearch": {
            keyup: function (data) {

                if (data.key == "Enter") {
                    $hs.handler["btnSearch"].click();

                }
            }
        },
        "btnSearch": {
            click: function () {

                $hs.$("chart").set({
                        "xAxis": {
                            "categories": [
                                "",
                                "1225000",
                                "1307800",
                                "1420400",
                                "21558 4MT0A",
                                "21558 6RA5A",
                                "21558 6RC0A",
                                "21558 6RU0A",
                                "21559 4MT0A",
                                "21559 6RA5A",
                                "21559 6RC0A",
                                "21559 6RC1A",
                                "21559 6RK0A",
                                "21559 6RU0A",
                                "21579 6RA6A",
                                "21579 6RU0A",
                                "3MON00624A",
                                "42750492",
                                "42795025",
                                "42795027",
                                "42854159",
                                "42854161",
                                "50516225161",
                                "50516225162",
                                "50516225163",
                                "50516225165",
                                "50516225169",
                                "50516225170",
                                "50516225385",
                                "50911172002",
                                "50911172011",
                                "57161172001",
                                "57161172006",
                                "57161172301",
                                "62766255001",
                                "64261173405",
                                "64366225037",
                                "64366225038",
                                "64366225039",
                                "64366225040",
                                "64366225310",
                                "64366225311",
                                "64461172011",
                                "64461173404",
                                "64461173405-1 T",
                                "64461175010-1R",
                                "64466225110",
                                "64466225111",
                                "64466225112",
                                "64466225113",
                                "64466225119",
                                "64466225120",
                                "64611173407",
                                "64611175008-1R",
                                "64611636001",
                                "64611636002",
                                "64616225208",
                                "64616225212",
                                "64616225213-1R",
                                "64616225215-1R",
                                "64616225403",
                                "64616225404",
                                "64616225405",
                                "64616295272",
                                "64616295273",
                                "64616295274",
                                "64616295277",
                                "64616295279",
                                "64616295281",
                                "64616295283-1R",
                                "65011173402",
                                "65A0002100",
                                "67211184001",
                                "76915-7499R",
                                "76916-1684R",
                                "BPU23029",
                                "BPU23029 B",
                                "GS12-0163A",
                                "GS13-0143A",
                                "GS13-0153A",
                                "GS13-0154A",
                                "GS13-0156A",
                                "GS13-0157",
                                "GS13-0164A",
                                "GS13-0165A",
                                "GS13-0166A",
                                "GS13-0238A",
                                "GS13-0239A",
                                "IT21016L",
                                "IT21017L",
                                "IT21018L",
                                "IT21019L",
                                "IT21020L1",
                                "IT21020L2",
                                "IT21020L3",
                                "IT21021L",
                                "M22144S(품번미지정)",
                                "M22145S",
                                "M22146S",
                                "M22147S",
                                "M22148S",
                                "M22150P",
                                "M22191M",
                                "M22202B",
                                "M23027P",
                                "M23030P",
                                "M23071S",
                                "M23071S-1",
                                "M23073I",
                                "M23074I",
                                "M23075I",
                                "M23078I",
                                "M23080I",
                                "MCA021209501",
                                "MCB12P-LX34201",
                                "MCV00070AH",
                                "MCV00070AH #2",
                                "MCV00135AH",
                                "MCV00135AH#2",
                                "MCV00308AB",
                                "MCV00680AC",
                                "MCV00680AC#2",
                                "MCV00701AL",
                                "MCV00706AH",
                                "MCV01396AA",
                                "MCV01397AA",
                                "MCV01414AA",
                                "MCV01443AA",
                                "MCV01445AA",
                                "MCV01446AA",
                                "MDT00176AA",
                                "MEAAA008130",
                                "MEAAA008150",
                                "MEC00243AD-4",
                                "MEC00590AE",
                                "MEC00590AE#3",
                                "MEC00590AE#4",
                                "MEC00829AA",
                                "MFR01350AA",
                                "MHU00840AA",
                                "MOT00093AB",
                                "MPL00524AF #2",
                                "MPL00526AF #2",
                                "MPL02875AA",
                                "MSP00129AA",
                                "MTY00188AL",
                                "MTY00188AL #2",
                                "MTY00188AL #3",
                                "MUC02-AR0101",
                                "MUC02-AR0102",
                                "MUC02-AR0103",
                                "MUC02-AT0001",
                                "MUC02-BA0007",
                                "MUC02-BR0005",
                                "MUC02-BR0008",
                                "MUC02-BR0008S",
                                "MUC02-DL0002",
                                "MUC02-DL0014",
                                "MUC02-DL0015",
                                "MUC02-DL0016",
                                "MUC02-DL0017",
                                "MUC02-DL0018",
                                "MUC02-DP0001",
                                "MUC02-FC0010",
                                "MUC02-TA0001",
                                "MUC02-TA0002",
                                "MUC02-TA0037",
                                "MUC02-TA0040",
                                "MUC02-TA0041",
                                "MUC02-UN0001",
                                "MUC02-UN0003",
                                "MUC02-UN0059",
                                "MUC02-UN0061",
                                "MUC02-UN0200",
                                "MUC02-UN0301",
                                "P6F13-AC510",
                                "P6F13-AC520",
                                "P6F13-AC550",
                                "P7F13-ABA10",
                                "P7F13-ABA20",
                                "P7F13-ABA50",
                                "P7F13-AC510",
                                "P7F13-AC520",
                                "P7F13-AC550",
                                "PBF004-01",
                                "PBF006-01",
                                "PBF007-01",
                                "PBF008-01",
                                "PBF009-01",
                                "PBF010-01",
                                "PBF015-01",
                                "PBF019-01",
                                "PBF020-02",
                                "PBF021-01",
                                "PBF023-03",
                                "PBF024-01",
                                "PBF025-01",
                                "PMD001-01",
                                "PMD004-01",
                                "PMD006-01",
                                "PMD008-01",
                                "PMSBP-RA0108-00",
                                "PMSBP-RA0109-00",
                                "PMSBP-RA0110-00",
                                "PMSBP-RA0111-00",
                                "PMSBP-RA0112-00",
                                "PMSBP-RA0113",
                                "PMSUP-RA0209-00",
                                "R-M3x10L",
                                "VF804 5836",
                                "VF804 5837",
                                "발사관전방마개",
                                "핸들커버",
                                "화이트자재박스"
                            ]
                        },
                        "yAxis": [
                            {
                                "title": {
                                    "text": "생산정보"
                                }
                            },
                            {
                                "title": {
                                    "text": "달성률"
                                },
                                "opposite": true
                            }
                        ],
                        "series": [
                            {
                                "name": "지시량",
                                "data": [
                                    0,
                                    3291,
                                    8802,
                                    12606,
                                    537284,
                                    56823,
                                    4875,
                                    214205,
                                    505421,
                                    3355,
                                    4122,
                                    1888,
                                    53443,
                                    199961,
                                    431926,
                                    185463,
                                    29178,
                                    210,
                                    2561,
                                    4523,
                                    53783,
                                    8141,
                                    35,
                                    5,
                                    8,
                                    25,
                                    20,
                                    20,
                                    8,
                                    1221803,
                                    100,
                                    1696388,
                                    1454690,
                                    24684,
                                    449,
                                    245,
                                    65,
                                    35,
                                    25,
                                    110,
                                    55,
                                    25,
                                    200,
                                    28,
                                    25,
                                    8912,
                                    925,
                                    200,
                                    294,
                                    15,
                                    35,
                                    45,
                                    20,
                                    3263,
                                    5052192,
                                    6839263,
                                    110,
                                    88,
                                    90,
                                    20,
                                    60,
                                    10,
                                    10,
                                    30,
                                    5,
                                    10,
                                    35,
                                    20,
                                    20,
                                    22,
                                    140,
                                    6289,
                                    2720648,
                                    13812,
                                    13812,
                                    40,
                                    60,
                                    20,
                                    470,
                                    343,
                                    350,
                                    863,
                                    1031,
                                    250,
                                    533,
                                    550,
                                    250,
                                    250,
                                    2511,
                                    250,
                                    150,
                                    7522,
                                    1000,
                                    1000,
                                    3000,
                                    4107,
                                    1000,
                                    5672,
                                    500,
                                    1000,
                                    695,
                                    3664,
                                    711,
                                    3005,
                                    125,
                                    65,
                                    5806,
                                    7996,
                                    1259,
                                    300,
                                    2225,
                                    1510,
                                    1400,
                                    2996,
                                    23983,
                                    476702,
                                    60,
                                    76947,
                                    30,
                                    12230,
                                    164716,
                                    110,
                                    488,
                                    1804,
                                    41,
                                    4089,
                                    1019,
                                    4269,
                                    2467,
                                    300,
                                    1050,
                                    1280,
                                    3860,
                                    22196,
                                    174143,
                                    30,
                                    30,
                                    30,
                                    1785,
                                    1269,
                                    228162,
                                    148823,
                                    197231,
                                    3390,
                                    1410,
                                    23115,
                                    61734,
                                    47745,
                                    12001,
                                    5302,
                                    5405,
                                    1509,
                                    200,
                                    1950,
                                    903,
                                    300,
                                    628,
                                    500,
                                    500,
                                    500,
                                    990,
                                    1460,
                                    705,
                                    1768,
                                    2487,
                                    1497,
                                    300,
                                    1860,
                                    1635,
                                    1621,
                                    1144,
                                    548,
                                    1474,
                                    2117,
                                    3475,
                                    19584,
                                    20677,
                                    28837,
                                    1450,
                                    642,
                                    1076,
                                    56484,
                                    85735,
                                    48991,
                                    400,
                                    2200,
                                    2355,
                                    2346,
                                    2810,
                                    1500,
                                    18340,
                                    2000,
                                    999,
                                    4574,
                                    54106,
                                    1200,
                                    5734,
                                    1000,
                                    846,
                                    2522,
                                    13101,
                                    3596,
                                    4442,
                                    13855,
                                    39188,
                                    6019,
                                    3596,
                                    80,
                                    846,
                                    1390,
                                    500,
                                    7217,
                                    14660,
                                    722
                                ],
                                "yAxis": 0
                            },
                            {
                                "name": "생산량",
                                "data": [
                                    0,
                                    4217,
                                    3591,
                                    4074,
                                    44465,
                                    17159,
                                    4119,
                                    29355,
                                    44401,
                                    1637,
                                    2376,
                                    1702,
                                    15484,
                                    29357,
                                    79287,
                                    34115,
                                    11370,
                                    210,
                                    1560,
                                    1920,
                                    11454,
                                    3060,
                                    35,
                                    5,
                                    8,
                                    26,
                                    20,
                                    20,
                                    10,
                                    29277,
                                    146,
                                    126204,
                                    21000,
                                    0,
                                    350,
                                    140,
                                    50,
                                    29,
                                    25,
                                    110,
                                    41,
                                    23,
                                    215,
                                    28,
                                    25,
                                    4372,
                                    319,
                                    200,
                                    220,
                                    15,
                                    29,
                                    45,
                                    20,
                                    3594,
                                    694676,
                                    758040,
                                    110,
                                    95,
                                    95,
                                    20,
                                    60,
                                    10,
                                    10,
                                    30,
                                    5,
                                    8,
                                    30,
                                    20,
                                    20,
                                    12,
                                    140,
                                    2226,
                                    180325,
                                    623,
                                    623,
                                    42,
                                    60,
                                    20,
                                    480,
                                    360,
                                    386,
                                    351,
                                    351,
                                    260,
                                    367,
                                    274,
                                    216,
                                    260,
                                    964,
                                    250,
                                    154,
                                    1318,
                                    1189,
                                    1189,
                                    2300,
                                    2276,
                                    1032,
                                    2338,
                                    502,
                                    1170,
                                    510,
                                    1120,
                                    435,
                                    3160,
                                    103,
                                    66,
                                    3720,
                                    3710,
                                    705,
                                    302,
                                    777,
                                    1147,
                                    1420,
                                    722,
                                    9470,
                                    33388,
                                    70,
                                    25390,
                                    80,
                                    1846,
                                    25935,
                                    176,
                                    0,
                                    0,
                                    0,
                                    1962,
                                    821,
                                    1802,
                                    1681,
                                    300,
                                    1182,
                                    716,
                                    155,
                                    6312,
                                    24289,
                                    36,
                                    35,
                                    24,
                                    1328,
                                    814,
                                    46740,
                                    30538,
                                    33137,
                                    3150,
                                    1414,
                                    4230,
                                    16318,
                                    13335,
                                    2953,
                                    2357,
                                    2357,
                                    1276,
                                    204,
                                    1140,
                                    555,
                                    307,
                                    568,
                                    514,
                                    508,
                                    500,
                                    510,
                                    508,
                                    290,
                                    1287,
                                    1330,
                                    1137,
                                    239,
                                    1458,
                                    1069,
                                    1138,
                                    1005,
                                    455,
                                    1025,
                                    979,
                                    2359,
                                    8415,
                                    8325,
                                    8733,
                                    600,
                                    645,
                                    674,
                                    8214,
                                    8279,
                                    8231,
                                    538,
                                    1200,
                                    1000,
                                    1330,
                                    2002,
                                    2487,
                                    10200,
                                    2062,
                                    1156,
                                    1107,
                                    8246,
                                    1300,
                                    2520,
                                    1106,
                                    0,
                                    2724,
                                    1405,
                                    3327,
                                    3396,
                                    6820,
                                    13520,
                                    3463,
                                    3354,
                                    77,
                                    0,
                                    954,
                                    500,
                                    1215,
                                    4280,
                                    420
                                ],
                                "yAxis": 0
                            },
                            {
                                "name": "달성률",
                                "data": [
                                    0,
                                    128.14,
                                    40.8,
                                    32.32,
                                    8.28,
                                    30.2,
                                    84.49,
                                    13.7,
                                    8.78,
                                    48.79,
                                    57.64,
                                    90.15,
                                    28.97,
                                    14.68,
                                    18.36,
                                    18.39,
                                    38.97,
                                    100,
                                    60.91,
                                    42.45,
                                    21.3,
                                    37.59,
                                    100,
                                    100,
                                    100,
                                    104,
                                    100,
                                    100,
                                    125,
                                    2.4,
                                    146,
                                    7.44,
                                    1.44,
                                    0,
                                    77.95,
                                    57.14,
                                    76.92,
                                    82.86,
                                    100,
                                    100,
                                    74.55,
                                    92,
                                    107.5,
                                    100,
                                    100,
                                    49.06,
                                    34.49,
                                    100,
                                    74.83,
                                    100,
                                    82.86,
                                    100,
                                    100,
                                    110.14,
                                    13.75,
                                    11.08,
                                    100,
                                    107.95,
                                    105.56,
                                    100,
                                    100,
                                    100,
                                    100,
                                    100,
                                    100,
                                    80,
                                    85.71,
                                    100,
                                    100,
                                    54.55,
                                    100,
                                    35.4,
                                    6.63,
                                    4.51,
                                    4.51,
                                    105,
                                    100,
                                    100,
                                    102.13,
                                    104.96,
                                    110.29,
                                    40.67,
                                    34.04,
                                    104,
                                    68.86,
                                    49.82,
                                    86.4,
                                    104,
                                    38.39,
                                    100,
                                    102.67,
                                    17.52,
                                    118.9,
                                    118.9,
                                    76.67,
                                    55.42,
                                    103.2,
                                    41.22,
                                    100.4,
                                    117,
                                    73.38,
                                    30.57,
                                    61.18,
                                    105.16,
                                    82.4,
                                    101.54,
                                    64.07,
                                    46.4,
                                    56,
                                    100.67,
                                    34.92,
                                    75.96,
                                    101.43,
                                    24.1,
                                    39.49,
                                    7,
                                    116.67,
                                    33,
                                    266.67,
                                    15.09,
                                    15.75,
                                    160,
                                    0,
                                    0,
                                    0,
                                    47.98,
                                    80.57,
                                    42.21,
                                    68.14,
                                    100,
                                    112.57,
                                    55.94,
                                    4.02,
                                    28.44,
                                    13.95,
                                    120,
                                    116.67,
                                    80,
                                    74.4,
                                    64.14,
                                    20.49,
                                    20.52,
                                    16.8,
                                    92.92,
                                    100.28,
                                    18.3,
                                    26.43,
                                    27.93,
                                    24.61,
                                    44.45,
                                    43.61,
                                    84.56,
                                    102,
                                    58.46,
                                    61.46,
                                    102.33,
                                    90.45,
                                    102.8,
                                    101.6,
                                    100,
                                    51.52,
                                    34.79,
                                    41.13,
                                    72.79,
                                    53.48,
                                    75.95,
                                    79.67,
                                    78.39,
                                    65.38,
                                    70.2,
                                    87.85,
                                    83.03,
                                    69.54,
                                    46.24,
                                    67.88,
                                    42.97,
                                    40.26,
                                    30.28,
                                    41.38,
                                    100.47,
                                    62.64,
                                    14.54,
                                    9.66,
                                    16.8,
                                    134.5,
                                    54.55,
                                    42.46,
                                    56.69,
                                    71.25,
                                    165.8,
                                    55.62,
                                    103.1,
                                    115.72,
                                    24.2,
                                    15.24,
                                    108.33,
                                    43.95,
                                    110.6,
                                    0,
                                    108.01,
                                    10.72,
                                    92.52,
                                    76.45,
                                    49.22,
                                    34.5,
                                    57.53,
                                    93.27,
                                    96.25,
                                    0,
                                    68.63,
                                    100,
                                    16.84,
                                    29.2,
                                    58.17
                                ],
                                "yAxis": 1,
                                "type": "spline"
                            }
                        ]
                });
            }
        }
    }

    $hs.load(() => {

        $hs.html.input.initAll();

        // search
        $hs.ui.button.init({ id: "btnSearch", class: ["smart-btn", "btn-search"] });

        // panel
        $hs.html.panel.init({ id: "pnlSearch" });

        $hs.chart.high.init({
            id : "chart", // div의 id
            chart: {
                type: 'column'
            },

            title: {
                text: 'Olympic Games all-time medal table, grouped by continent',
                align: 'center'
            },

            xAxis: {
                categories: ['Gold', 'Silver', 'Bronze']
            },

            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: 'Count medals'
                }
            },

            tooltip: {
                format: '<b>{key}</b><br/>{series.name}: {y}<br/>' +
                    'Total: {point.stackTotal}'
            },

            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },

            series: [{
                name: 'Norway',
                data: [148, 133, 124],
                stack: 'Europe'
            }, {
                name: 'Germany',
                data: [102, 98, 65],
                stack: 'Europe'
            }, {
                name: 'United States',
                data: [113, 122, 95],
                stack: 'North America'
            }, {
                name: 'Canada',
                data: [77, 72, 80],
                stack: 'North America'
            }]
        })

    });

</script>

<!-- s:Content Header (Page header) -->
<div class="content-header">
    <div class="header-location">
        <div class="header-title">샘플003</div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#link"><i class="xi-ico xi-home"></i></a></li>
            <li class="breadcrumb-item active">예제메뉴</li>
            <li class="breadcrumb-item active">샘플003</li>
        </ol>
    </div>
    <div class="header-setting">
        <div class="header-btn">
            <button id="btnSearch" type="button" class="btn btn-search">search</button>
        </div>
    </div>
</div>
<!-- /e:Content Header -->
<hr>
<!-- s:content -->
<section class="content-body" flex>
    <div class="content row" flex>
        <div class="col-lg-12" flex>
            <div class="content-box" flex>

                <div class="box-body">
                    <div class="grid-container">
                        <div id="chart" style="width:100%;height:500px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /e:content -->
