@page
@model HS.Web.Pages.routing
@{
    string CLIENT = Model.Params["CLIENT"].AsString();
    string R = Model.Params["R"].AsString();
    string W = Model.Params["W"].AsString();
    string item_id = Model.Params["item_id"];
}


<script>

    let item_id = '@item_id';

    const defaultColumns = [
        { dataField: "ITEM CODE", label: "ITEM CODE", width: 150, visible:false },
        { dataField: "REV", label: "REV", width: 70, visible:false },
        { dataField: "RT HEADER ID", label: "RT HEADER ID", width: 70, visible: false },
        { dataField: "SEQ", label: "SEQ", width: 100 },
        { dataField: "DEPARTMENT CODE", label: "DEPARTMENT CODE", width: 100 },
        { dataField: "DEPARTMENT NAME", label: "DEPARTMENT NAME", width: 200 },
        { dataField: "QTY", label: "QTY", width: 100, align:"center", type:"number", precision: 1 },
        // { dataField: "W_UNIT", label: "W' Unit", width: 100 },
        { dataField: "IN/OUT", label: "IN/OUT", width: 100, align:"center" },
        { dataField: "W' THK", label: "W' THK", width: 100, align:"center" },
        // { dataField: "PPG THK", label: "PPG THK", width: 100 },
        { dataField: "HOLE TYPE", label: "HOLE TYPE", width: 100, align:"center" },
        { dataField: "CU TYPE", label: "CU TYPE", width: 100, align:"center" },
        // { dataField: "TRACE", label: "Trace", width: 100 },
        // { dataField: "WSIZE_X", label: "W' Size X", width: 100 },
        // { dataField: "WSIZE_Y", label: "W' Size Y", width: 100 },
        { dataField: "DESC_1", label: "DESC 1", width: 250 },
        { dataField: "DESC_2", label: "DESC 2", width: 250 },
        { dataField: "DESC_3", label: "DESC 3", width: 250 }
    ];

    $hs.handler = {
        "btn_reset" : {
            click: function() {
                // 값 초기화
                $hs.$("pnlSearch").reset();
            }
        },
        "item_code" : {
            keyup: function (data) {
                if($hs.$("item_code").val().length > 10) { // ITEM_CODE의 길이는 11
                    // REVISION 선택 재조회
                    $hs.html.select.init({
                        id: "revision",
                        dataurl: "/api/data/REVISION?ITEM_CODE=" + $hs.$("item_code").val(),
                        valueMember: "REVISION",
                        displayMember: "REVISION",
                        val: ""
                    });
                    // LAST revision 선택 시 마지막 revision 표기
                    setTimeout(() => {
                        const selectBox = document.getElementById("revision");
                        const options = selectBox.options;
                        if (options.length > 0) {
                            selectBox.selectedIndex = options.length - 1;
                        }

                        // change 이벤트 수동 발생
                        const event = new Event("change", { bubbles: true });
                        selectBox.dispatchEvent(event);
                    }, 500);
                }
            }
        },
        "revision" : {
            change : function(data) {
                if($hs.$("item_code").val().length > 10) { // ITEM_CODE의 길이는 11
                    // ITEM_CODE에 있는지 Search --> CBST_SPEC_BASIC 테이블에서 model명 확인가능
                    // REVISION 선택 될 때만 MODEL명 들어가게
                    
                    console.log(data);
                    let toServer = {};
                    toServer["terms"] = {
                        item_code : $hs.$("item_code").val()
                        , revision : data.value
                    };


                    $hs.fetch({
                        command: "search_model",
                        param: toServer
                    }).then(fromServer => {
                        console.log(fromServer);
                        $hs.$("model").val(fromServer["data"][0].MODEL_NAME);
                    }).catch(e => $hs.errorBox(e))
                }
            }
        },
        "btnSearch": {
            click: function () {

                let toServer = {};
                toServer["terms"] = $hs.$("pnlSearch").val();

                console.log(toServer);

                $hs.fetch({
                    command: "search",
                    param: toServer
                }).then(fromServer => {
                    $hs.$("routing_info").data(fromServer["data"]);
                    $('#total_cnt').text('(Total Count:' + fromServer["data"].length + ')');
                }).catch(e => $hs.errorBox(e))
            }
        },
        "btn_excel_download": {
            click : function() {
                // 엑셀 다운로드 (grid_id, file_name)
                $hs.util.$CommonUtil.excelDownloadVerticalMerged([
                    { gridId: "routing_info"},
                    { gridId: "routing_recipe_list_info", title: "routing_recipe_list_info"},
                    { gridId: "routing_recipe_lov_info", title: "routing_recipe_lov_info"},
                    { gridId: "routing_bom_info", title: "routing_bom_info"}
                ], "ROUTING_통합");

                // $hs.util.$CommonUtil.excelDownload("routing_info", "routing_info");
            }
        },
        "btn_bom_excel_download": {
            click : function() {
                // 엑셀 다운로드 (grid_id, file_name)
                $hs.util.$CommonUtil.excelDownload("routing_bom_info", "routing_bom_info");
            }
        },
        "btn_recipe_lov_excel_download": {
            click : function() {
                // 엑셀 다운로드 (grid_id, file_name)
                $hs.util.$CommonUtil.excelDownload("routing_recipe_lov_info", "routing_recipe_lov_info");
            }
        },
        "btn_spec_excel_download": {
            click : function() {
                // 엑셀 다운로드 (grid_id, file_name)
                $hs.util.$CommonUtil.excelDownload("routing_recipe_list_info", "routing_spce_bom_list_info");
            }
        },
        "btn_grid_setting" : {  // dimension 세팅
            click : function() {
                // 그리드 세팅 modal open
                // param : modal_id, grid_id, dimension_grid_id
                $hs.util.$CommonUtil.openGridSettingModal("modalDialog", "routing_info", "dimension_grid");
            }
        },
        "btnSave_dimension" : { // dimension 변경내용 저장
            click : function() {
                $hs.util.$CommonUtil.saveGridSetting("modalDialog", "routing_info", "dimension_grid", defaultColumns);
            }
        },
        "routing_info" : {
            cellClick: function (data) {
                let toServer = {};
                toServer["terms"] = data.rowData;

                console.log(toServer);

                $hs.fetch({
                    command: "search_recipe_list",
                    param: toServer
                }).then(fromServer => {
                    $hs.$("routing_recipe_list_info").data(fromServer["data"]);
                }).catch(e => $hs.errorBox(e))

                $hs.fetch({
                    command: "search_recipe_lov",
                    param: toServer
                }).then(fromServer => {
                    $hs.$("routing_recipe_lov_info").data(fromServer["data"]);
                }).catch(e => $hs.errorBox(e))

                $hs.fetch({
                    command: "search_bom",
                    param: toServer
                }).then(fromServer => {
                    $hs.$("routing_bom_info").data(fromServer["data"]);
                }).catch(e => $hs.errorBox(e))
            },
            contextHeaderClick: function (data) {
                $hs.util.$CommonUtil.getHeaderContextClick(data);
            },
        }
    }

    $hs.load(() => {

        // search
        $hs.ui.button.init({ id: "btnSearch", class: ["smart-btn", "btn-search"] });

        // excel download
        $hs.ui.button.init({ id: "btn_excel_download"});
          
        // panel
        $hs.html.panel.init({ id: "pnlSearch" });

        // grid setting
        $hs.ui.button.init({ id: "btn_grid_setting"});
        $hs.ui.button.init({ id: "btnSave_dimension"});

        // routing_info
        // TODO : 사용자별로 컬럼순서, 보여지는 컬럼 가져오도록 수정필요 --> 2차개발로?
        $hs.dx.grid.init({
            id: "routing_info",
            width: "100%",
            height: "100%",
            sortable: true,
            selectMode: "single",
            rownumber: false,
            filterable: true,
            editable: false,
            handler: true,
            reOrdering: true, // 컬럼 재배치 여부
            headerContextmenu : ["Sort Asc", "Sort Desc", "Sort Clear", "Fixed", "Unfixed", "Hide", "Hide Clear"],
        })
        
        

        // 그리드 컬럼가져오기
        // 1. id로 사용할 grid_id(js용)
        // 2. 초기화용 컬럼들 (LIST)
        // <div id="department_master_info" data-grid-id="RESOURCE_GRID"></div>
        $hs.util.$CommonUtil.getGridSetting("routing_info", defaultColumns);

        const _instance = $hs.$("routing_info")._instance;
        // 컬럼 라인 그리기
        _instance.option('showColumnLines', true);
        _instance.option('rowAlternationEnabled', false);
        _instance.option('showBorders', true);
        _instance.option('scrolling', {
            showScrollbar: 'always',
            useNative: true
        });

        // routing_recipe_list_info
        $hs.dx.grid.init({
            id: "routing_recipe_list_info",
            width: "100%",
            height: "100%",
            sortable: true,
            selectMode: "single",
            rownumber: false,
            filterable: true,
            editable: false,
            handler: true,
            reOrdering: true, // 컬럼 재배치 여부
            headerContextmenu : ["Sort Asc", "Sort Desc", "Sort Clear", "Fixed", "Unfixed", "Hide", "Hide Clear"],
        })

        const recipeListdefaultColumns = [
            { dataField: "CODE_NAME", label: "NAME", width: 130 },
            { dataField: "TYPE_NAME", label: "Value Type", width: 100 },
            { dataField: "VALUE_A", label: "A", width: 50 },
            { dataField: "VALUE_B", label: "B", width: 50 },
            { dataField: "VALUE_C", label: "C", width: 50 }
        ];
        // 그리드 컬럼가져오기
        $hs.util.$CommonUtil.getGridSetting("routing_recipe_list_info", recipeListdefaultColumns);

        const _instance2 = $hs.$("routing_recipe_list_info")._instance;
        // 컬럼 라인 그리기
        _instance2.option('showColumnLines', true);
        _instance2.option('rowAlternationEnabled', false);
        _instance2.option('showBorders', true);
        _instance2.option('scrolling', {
            showScrollbar: 'always',
            useNative: true
        });

        // routing_recipe_lov_info
        $hs.dx.grid.init({
            id: "routing_recipe_lov_info",
            width: "100%",
            height: "100%",
            sortable: true,
            selectMode: "single",
            rownumber: false,
            filterable: true,
            editable: false,
            handler: true,
            reOrdering: true, // 컬럼 재배치 여부
            headerContextmenu : ["Sort Asc", "Sort Desc", "Sort Clear", "Fixed", "Unfixed", "Hide", "Hide Clear"],
        })

        const recipeLovdefaultColumns = [
            { dataField: "CODE_NAME", label: "NAME", width: 150 },
            { dataField: "VALUE_A", label: "LOV", width: 150 },
            { dataField: "LOV_NAME", label: "LOV NAME", width: 80 }
        ];
        // 그리드 컬럼가져오기
        $hs.util.$CommonUtil.getGridSetting("routing_recipe_lov_info", recipeLovdefaultColumns);

        const _instance3 = $hs.$("routing_recipe_lov_info")._instance;
        // 컬럼 라인 그리기
        _instance3.option('showColumnLines', true);
        _instance3.option('rowAlternationEnabled', false);
        _instance3.option('showBorders', true);
        _instance3.option('scrolling', {
            showScrollbar: 'always',
            useNative: true
        });

        // routing_bom_info
        $hs.dx.grid.init({
            id: "routing_bom_info",
            width: "100%",
            height: "100%",
            sortable: true,
            selectMode: "single",
            rownumber: false,
            filterable: true,
            editable: false,
            handler: true,
            reOrdering: true, // 컬럼 재배치 여부
            headerContextmenu : ["Sort Asc", "Sort Desc", "Sort Clear", "Fixed", "Unfixed", "Hide", "Hide Clear"],
        })

        const bomdefaultColumns = [
            { dataField: "COMPONENT_ITEM_CODE", label: "Material 1", width: 100 },
            { dataField: "COMPONENT_ITEM_NAME", label: "Material 2", width: 150 },
            { dataField: "LOV_NAME", label: "Material 3", width: 100 },
            { dataField: "LOV_test", label: "Material 4", width: 100 }
        ];
        // 그리드 컬럼가져오기
        $hs.util.$CommonUtil.getGridSetting("routing_bom_info", bomdefaultColumns);

        const _instance4 = $hs.$("routing_bom_info")._instance;
        // 컬럼 라인 그리기
        _instance4.option('showColumnLines', true);
        _instance4.option('rowAlternationEnabled', false);
        _instance4.option('showBorders', true);
        _instance4.option('scrolling', {
            showScrollbar: 'always',
            useNative: true
        });


        const gridInstance = $hs.$("routing_info")._instance;

        function mergeCellsByFields(fields) {
        const rows = gridInstance.getVisibleRows();
        const columns = gridInstance.getVisibleColumns();

        // 먼저 기존 병합 상태 초기화
        for (let i = 0; i < rows.length; i++) {
            fields.forEach(fieldName => {
                const columnIndex = columns.findIndex(col => col.dataField === fieldName);
                const cell = gridInstance.getCellElement(i, columnIndex);
                if (cell && cell.length) {
                    // display, rowspan 초기화
                    cell[0].style.display = '';
                    cell[0].removeAttribute('rowSpan');
                }
            });
        }

        // 본격 병합 로직
        fields.forEach(fieldName => {
            const columnIndex = columns.findIndex(col => col.dataField === fieldName);

            let prevValue = null;
            let startRowIndex = 0;
            let spanCount = 1;

            for (let i = 0; i < rows.length; i++) {
                const currentValue = rows[i].data[fieldName];

                if (currentValue === prevValue) {
                    spanCount++;
                    const cell = gridInstance.getCellElement(i, columnIndex);
                    if (cell && cell.length) {
                        cell[0].style.display = 'none';
                    }
                } else {
                    // 이전 그룹 병합 처리
                    if (spanCount > 1) {
                        const topCell = gridInstance.getCellElement(startRowIndex, columnIndex);
                        if (topCell && topCell.length) {
                            topCell[0].rowSpan = spanCount;
                            topCell[0].style.verticalAlign = 'middle';
                        }
                    }

                    // 새 그룹 시작
                    prevValue = currentValue;
                    startRowIndex = i;
                    spanCount = 1;
                }
            }

            // 마지막 그룹 병합 처리
            if (spanCount > 1) {
                const topCell = gridInstance.getCellElement(startRowIndex, columnIndex);
                if (topCell && topCell.length) {
                    topCell[0].rowSpan = spanCount;
                    topCell[0].style.verticalAlign = 'middle';
                }
            }
        });
    }
    gridInstance.getScrollable().on("scroll", function() {
        mergeCellsByFields(["ITEM CODE", "REV"]);
    });
    gridInstance.option("onContentReady", function(e) {
        mergeCellsByFields(["ITEM CODE", "REV"]);
    });





        // demension grid
        $hs.dx.grid.init({
            id: "dimension_grid",
            width: "100%",
            height: "300px",
            sortable: true,
            selectMode: "single",
            dragRow: true,
            rownumber: false,
            filterable: false,
            editable: true,
            handler: true,
        }).columns(col => {
            col.add({ dataField: "dataField", label: "dataField", width: 200, editable: false, visible:false })
            col.add({ dataField: "editable", label: "editable", width: 200, editable: false, visible:false })
            col.add({ dataField: "name", label: "NAME", width: 200, editable: false })
            col.add({ dataField: "visible", label: "VISIBLE", width: 80, editable: true, type: "boolean" })
            col.add({ dataField: "width", label: "WIDTH", width: 80, editable: true })
            col.add({ dataField: "fix", label: "FIX", width: 80, editable: true, type: "boolean" })
        });





        // Search Pannel
        // 사업부
        $hs.html.select.init({
            id: "group_id",
            dataurl: "/api/data/DIVISION_LIST",
            valueMember: "CODE",
            displayMember: "NAME",
            val: ""
        });
        

        // REVISION
        $hs.html.select.init({
            id: "revision",
            dataurl: "/api/data/REVISION",
            valueMember: "REVISION",
            displayMember: "REVISION",
            val: ""
        });


        /* 
            TODO : 새창으로 띄우기 했을경우 검색조건 가져온걸로 검색되게 만들어야함
        */
        const newWindowData = JSON.parse(sessionStorage.getItem('newWindowData'));
        console.log(sessionStorage.getItem('newWindowData'));
        if( newWindowData != null ) {
            var itemId = newWindowData.itemId;
            console.log(itemId);
            // $hs.$("item_code").val(itemId);
            $hs.$("pnlSearch").df.ITEM_CODE = itemId;
            console.log($hs.$("item_code"));

            $hs.handler["btnSearch"].click();

            sessionStorage.removeItem('newWindowData');
        }

        // 팝업
        $hs.html.$popup.init('modalDialog');

        $hs.html.input.initAll();
    });

</script>

<!-- s:Content Header (Page header) -->
<div class="content-header">
    <div class="header-location">
        <div class="header-title">
            <span class="sub-title">Routing</span>
            <div class="toggle-container-favorites">
                <input type="checkbox" id="favorites-toggle" hidden>
                <label for="favorites-toggle" class="favorites-toggle">
                    <i class="bx bx-star"></i>
                </label>
            </div>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#link"><i class="xi-ico xi-home"></i></a></li>
            <li class="breadcrumb-item active">MASTER DATA</li>
            <li class="breadcrumb-item active">Routing</li>
        </ol>
    </div>
    <div class="header-setting">
        <div class="header-btn">
            <div class="filter-toggle-container">
                <span class="toggle-title">Search Area</span>
                <input type="checkbox" id="favorites-toggle-switch" hidden checked>
                <label for="favorites-toggle-switch" class="switch"></label>
            </div>
        </div>
    </div>
</div>
<!-- /e:Content Header -->
<hr>
<!-- s:content -->
<section class="content-body" flex>
    <div class="content row" flex>
        <div class="col-lg-12" flex>
            <div class="content-box content-filter">
                <div class="box-body">
                    <div class="list-filter">
                        <div id="pnlSearch" class="filter-content form-inline">

                            <div class="form-group">
                                <div class="control-label"><label>GROUP</label></div>
                                <div class="control-form">
                                    <select class="form-control" id="group_id" hs-df="group_id" hs-handler="true"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label"><label>Item Code</label></div>
                                <div class="control-form">
                                    <input type="text" id="item_code" class="form-control" placeholder="Search" style="width:130px" hs-df="item_code" hs-handler="true" maxlength="11">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label"><label>REV.</label></div>
                                <div class="control-form">
                                    <select class="form-control" id="revision" hs-df="revision" hs-handler="true"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label"><label>MODEL</label></div>
                                <div class="control-form">
                                    <input type="text" class="form-control" id="model" hs-df="model" style="width: 220px" hs-handler="true" readonly/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label"><label>LAST REV.</label></div>
                                @* <div class="control-form"> *@
                                    <input type="checkbox" class="form-control" id="latest_rev" hs-df="latest_rev" style="width: 20px" checked/>
                                @* </div> *@
                            </div>

                            <button id="btn_reset" type="button" class="btn btn-reset-icon" hs-btn><span class="blind">filter reset</span></button>
                            <button id="btnSearch" type="button" class="btn btn-search-icon">Search<span class="blind">filter search</span></button>
                            @* <div style="margin-left: auto; display:flex; gap: 6px;"> *@
                            @*     <div class="form-group"> *@
                            @*         <div class="control-label"><label>Routing</label></div> *@
                            @*         <div class="control-form"> *@
                            @*             <button id="btn_excel_download" type="button" class="btn btn-download" hs-btn>excel</button> *@
                            @*         </div> *@
                            @*     </div> *@
                            @* </div> *@
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-box" style="height:100%;display:flex;flex-direction:column">
                <div class="box-body" flex_row>
                    <div style="width: 70%;" flex>
                        <div class="box-header">
                            <div class="header-title">
                                Routing 정보
                                <span class="title-list-count">
                                    <small id="total_cnt"></small><small id="grid_cal" class="" style="color: black;margin-left: 10px;font-weight: 500;"></small>
                                </span>
                            </div>
                            <div class="header-btn">
                                <button id="btn_excel_download" type="button" class="btn btn-download">excel</button>
                                <button id="btn_grid_setting" type="button" class="btn btn-setting-icon"><span class="blind">setting</span></button>
                            </div>
                        </div>
                        <div id="routing_info" data-grid-id="ROUTING"></div>
                    </div>
                    <div style="width: 30%; padding-left:10px" flex>
                        <div style="height: 30%;">
                            <div class="box-header">
                                <div class="header-title">
                                    Routing Spec Recipe List
                                </div>
                            </div>
                            <div id="routing_recipe_list_info" data-grid-id="ROUTING_RECIPE_LIST"></div>
                        </div>
                        <div style="height: 30%;padding-top:25px;">
                            <div class="box-header">
                                <div class="header-title">
                                    Routing Spec Recipe LOV
                                </div>
                            </div>
                            <div id="routing_recipe_lov_info" data-grid-id="ROUTING_RECIPE_LOV"></div>
                        </div>
                        <div style="height: 30%;padding-top:25px;">
                            <div class="box-header">
                                <div class="header-title">
                                    BOM
                                </div>
                            </div>
                            <div id="routing_bom_info" data-grid-id="ROUTING_BOM"></div>
                        </div>
                    </div>
                </div>
            </div>

            
            
            
            

            

            

            

        </div>
    </div>
</section>
<!-- /e:content -->
<!-- s:modal -->
<div id="modalDialog" style="display:none; position:absolute; height:400px;width:600px;">
    <div class="modal-content animate-top">
        <div id="modal-header" class="modal-header">
            <h5 class="modal-title">PERSONALIZATION</h5>
            <button type="button" class="btn-popup-close">
                <span class="xi-close-min" aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body" id="panel_input">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label"><label>Dimension</label></div>
                    </div>
                </div>
            </div>
            <div class="grid-container" flex>
                <div id="dimension_grid"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnSave_dimension" type="button" class="btn btn-save">저장</button>
            <button type="button" class="btn btn-close btn-popup-close">닫기</button>
        </div>
    </div>
</div>
<!-- /e:modal -->