@page
@model HS.Web.Pages.TH_GUI_MENU
@{
    string CLIENT = Model.Params["CLIENT"].AsString();
    string R = Model.Params["R"].AsString();
    string W = Model.Params["W"].AsString();
}


<script>

    $hs.handler = {
        "txtSearch": {
            keyup: function (data) {

                if (data.key == "Enter") {
                    $hs.handler["btnSearch"].click();
                    $hs.$("grid").expand();
                }

            }
        },
        "btnSearch" : {
            click : function(){

                let toServer = {};
                
                toServer["terms"] = $hs.$("pnlSearch").val();
                
                $hs.fetch({
                    command: "search",
                    param: toServer
                }).then(fromServer => {

                    $hs.$("grid").data(fromServer["data"]);
                }).catch(e => $hs.errorBox(e))
            }
        },
        "btnNew": {
            click: function () {
                $hs.$("panel_input").reset();
                $hs.$("MENU_CD_input").set({ enabled: true });
                $hs.$("modalDialog").open();
            }
        },
        "btnSave_input": {
            click: function () {

                let toServer = {};
                toServer["data"] = $hs.$("panel_input").val();

                $hs.fetch({
                    command: "save",
                    param: toServer
                }).then(fromServer => {
                    alert("저장 되었습니다.");
                    $hs.$("modalDialog").close();
                    // 다시 조회
                    $hs.handler["btnSearch"].click();

                    // 팝업텍스트 데이터 재바인딩
                    $hs.$("UP_MENU_CD_input").reloadData();

                }).catch(e => $hs.errorBox(e))
            }
        },

        "grid": {
            cellDoubleClick: function (data) {
                //data.$ : 컨트롤객체(그리드)
                //data.dataField : dataField
                ///data.index : 현재 row index
                //data.visibleIndex : 현재 row visibleIndex
                //data.rowData : 현재 row 데이타

                let toServer = {};
                toServer["terms"] = data.rowData;
                
                $hs.fetch({
                    command: "view",
                    param: toServer
                }).then(fromServer => {
                    $hs.$("panel_input").val(fromServer["data"]);
                    $hs.$("MENU_CD_input").set({ enabled: false });
                    $hs.$("modalDialog").open();
                }).catch(e => $hs.errorBox(e))
            }
        }
    }

    $hs.load(() => {

        $hs.html.input.initAll();

        // search
        $hs.ui.button.init({ id: "btnSearch", class: ["smart-btn", "btn-search"]});

        // button
        $hs.ui.button.init({ id: "btnNew", enabled: @W});

        // panel
        $hs.html.panel.init({ id: "pnlSearch" });

        // grid
        $hs.dx.treegrid.init({
            id: "grid",
            width: "100%",
            height: "100%",
            parentDataField: "UP_MENU_CD",
            keyDataField: "MENU_CD",
            sortable: true,
            selectMode: "single",
            rownumber: true,
            filterable: true,
            handler: true,
        })
        .columns(col => {
            col.add({
                dataField: "CLIENT"
                , label: "CLIENT"
                , width: 200
                , visible: false
            })
            col.add({
                dataField: "MENU_CD"
                , label: "메뉴코드"
                , width: 200
            })
            col.add({
                dataField: "MENU_NM"
                , label: "메뉴명"
                , width: 300
            })
            col.add({
                dataField: "UP_MENU_CD"
                , label: "상위메뉴"
                , width: 200
            })
            col.add({
                dataField: "UP_MENU_NM"
                , label: "상위메뉴"
                , width: 200
            })
            col.add({
                dataField: "S_URL"
                , label: "URL"
                , width: 250
            })
            col.add({
                dataField: "VIEW_YN"
                , label: "보이기여부"
                , width: 100
                , align: "center"
            })
            col.add({
                dataField: "USE_YN"
                , label: "사용여부"
                , width: 80
                , align: "center"
            })
            col.add({
                dataField: "SORT"
                , label: "순번"
                , width: 100
                , type: "number"
                , align: "center"
            })
        });

        // modal
        $hs.html.panel.init({ id: 'panel_input' });

        $hs.html.select.init({ id: "com1", data: [{ label: "Y", value: "Y" }, { label: "N", value: "N" }], val: "Y" });
        $hs.html.select.init({ id: "com2", data: [{ label: "Y", value: "Y" }, { label: "N", value: "N" }], val: "Y" });

        $hs.dx.poptextbox.init({
            id: "UP_MENU_CD_input",
            placeholder: "",
            dataField: "UP_MENU_CD",
            displayBindField: "UP_MENU_NM", // mergeParent가 true 이고 별도의 input에 바인딩이 필요할때
            enabled: true,
            mergeParent: true, //
            handler: true, // handler true 일시 이벤트 등록이 가능
        }).popup(grid => {

            grid.set({ width: "400px", height: "400", rownumber: false, dataurl: "/api/data/UP_MENU_CD?CLIENT=@CLIENT", });

            grid.columns(col => {
                col.add({
                    label: "상위메뉴", dataField: "UP_MENU_CD", width: 100
                });

                col.add({
                    label: "상위메뉴명", dataField: "UP_MENU_NM", width: 160
                });
            })
        });

        $hs.ui.button.init({ id: "btnSave_input", enabled: @W });

        // 팝업
        $hs.html.$popup.init('modalDialog');
    });

</script>

<!-- s:Content Header (Page header) -->
<div class="content-header">
    <div class="header-location">
        <div class="header-title">메뉴관리</div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#link"><i class="xi-ico xi-home"></i></a></li>
            <li class="breadcrumb-item active">환경설정</li>
            <li class="breadcrumb-item active">메뉴관리</li>
        </ol>
    </div>
    <div class="header-setting">
        <div class="header-btn">
            <div id="pnlSearch" class="form-search form-search-text">
                <input id="txtSearch" type="text" class="form-control" placeholder="메뉴코드, 메뉴명 입력" hs-df="search" hs-handler="true">
                <button id="btnSearch" type="button" class="btn btn-search"><span class="blind">search</span></button>
            </div>
            <button id="btnNew" type="button" class="btn btn-add">add</button>
            @* <button id="btnDel" type="button" class="btn btn-delete">delete</button> *@
        </div>
    </div>
</div>
<!-- /e:Content Header -->
<hr>
<!-- s:content -->
<section class="content-body" flex>
    <div class="content row" flex>
        <div class="col-lg-12" flex>
            <div class="content-box" flex>
                <div class="box-body" flex>
                    <div class="grid-container" flex>
                        <!-- s:grid content -->
                        <div id="grid"></div>
                        <!-- /e:grid content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /e:content -->

<!-- s:modal -->
<div id="modalDialog" style="display:none; position:absolute; height:400px;">
    <div class="modal-content animate-top">
        <div id="modal-header" class="modal-header">
            <h5 class="modal-title">메뉴 등록/수정</h5>
            <button type="button" class="btn-popup-close">
                <span class="xi-close-min" aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body" id="panel_input">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="control-label"><label>* 보이기여부</label></div>
                        <div class="control-form"><select id="com1" class="form-control" style="width:100%;" hs-df="VIEW_YN" hs-handler="true"></select></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="control-label"><label>* 사용여부</label></div>
                        <div class="control-form"><select id="com2" class="form-control" style="width:100%;" hs-df="USE_YN" hs-handler="true"></select></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="control-label"><label>상위메뉴코드</label></div>
                        <div class="input-group">
                            <input id="UP_MENU_CD_input" type="text" class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="xi-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="control-label"><label>상위메뉴</label></div>
                        <div class="control-form"><input type="text" class="form-control" placeholder="내용을 입력" hs-df="UP_MENU_NM" disabled=""></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="control-label"><label>* 메뉴 코드</label></div>
                        <div class="control-form"><input id="MENU_CD_input" type="text" class="form-control" placeholder="내용을 입력" hs-df="MENU_CD"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="control-label"><label>메뉴명</label></div>
                        <div class="control-form"><input type="text" class="form-control" placeholder="내용을 입력" hs-df="MENU_NM"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="control-label"><label>메뉴명 상세</label></div>
                        <div class="control-form"><input type="text" class="form-control" placeholder="내용을 입력" hs-df="MENU_NM_DTL"></div>
                    </div>
                </div> 
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="control-label"><label>순번</label></div>
                        <div class="control-form"><input type="number" class="form-control" placeholder="숫자 입력" hs-df="SORT"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="control-label"><label>URL</label></div>
                        <div class="control-form"><input type="text" class="form-control" placeholder="내용을 입력" hs-df="S_URL"></div>
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="control-label"><label>CLASS</label></div>
                        <div class="control-form"><input type="text" class="form-control" placeholder="내용을 입력" hs-df="I_CLASS"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="control-label"><label>TARGET</label></div>
                        <div class="control-form"><input type="text" class="form-control" placeholder="내용을 입력" hs-df="TARGET"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnSave_input" type="button" class="btn btn-save">저장</button>
            <button type="button" class="btn btn-close btn-popup-close">닫기</button>
        </div>
    </div>
</div>
<!-- /e:modal -->